.background {
  background-image: linear-gradient(
      rgba(240, 39, 39, 0.5),
      rgba(34, 116, 216, 0.5)
    ),
    url("https://picsum.photos/id/1060/2550/1440");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
